<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="red" text="yellow">
    <center>
        <h1>This is a calculator</h1>
        <form action="amitava">
            Enter 1st Number: <input type="text" name="t1" required/><br><br>
            Enter 2nd Number: <input type="text" name="t2" required/><br><br>
           
            <input type="submit"><input type="reset">

            
        </form>

    </center>
    
    
</body>
</html>